﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="bottom.ascx.vb" Inherits="admin_include_bottom" %>
<div id="footer">
    <!--  start footer-left -->
    <div id="footer-left">
            <i> </i> &nbsp; </div>
    <!--  end footer-left -->
    <div class="clear">
        &nbsp;</div>
</div>
