.AjaxCalendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;padding:4px;width:170px;}
.AjaxCalendar .ajax__calendar_body {height:149px;width:170px;position:relative;overflow:hidden;margin:auto;}
.AjaxCalendar .ajax__calendar_body table td {padding:1px;}
.AjaxCalendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.AjaxCalendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.AjaxCalendar .ajax__calendar_day {border:1px solid #ffffff;padding:0px;}
.AjaxCalendar .ajax__calendar_month {border:1px solid #ffffff;}
.AjaxCalendar .ajax__calendar_year {border:1px solid #ffffff;}

.AjaxCalendar .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;padding:0px;}
.AjaxCalendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;padding:0px;}
.AjaxCalendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;padding:0px;}

.AjaxCalendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;padding:0px;}
.AjaxCalendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;padding:0px;}

.AjaxCalendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;padding:0px;}
.AjaxCalendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;padding:0px;}
.AjaxCalendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;padding:0px;}

